.footer {
    margin-top: 50px;
    background: #292663 0% 0% no-repeat padding-box;
    text-align: center;
    padding: 70px 0;
    border-bottom: 22px solid #F15B5B;
}

.footer p {
    color:white;
}