#membersSection {
    margin: 0 125px;
    margin-top: 15px;
}

.inner {
    height: 430px;
    border: 5px solid #EFEFEF;
    text-align: center;
    position: relative;
}

.inner img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 280px;
    margin-top: -150px;
    margin-left: -100px;
}
.inner:hover .overlay {
    opacity: 1;
  }
  hr {
    border: 0;
    border-top: 2px solid #292663;
    background-color: #292663;
    margin-top: -15px;
    margin-left: 0;
    margin-bottom: 10px;
}
  .text {
    width: 90%;
    margin:auto;
    padding: 5px;
    position: absolute;
    top: 20%;
    left: 20%;
    -webkit-transform: translate(-20%, -20%);
    -ms-transform: translate(-20%, -20%);
    transform: translate(-20%, -20%);
    text-align: center;
  }
.text h4 {
    margin:0;
    text-align: start;
    color: #292663;
    font-weight: 600;
    padding: 25px 0;
}

.text .description {
    font-size: 14px;
    padding: 10px 0;
    color: grey;
    text-align: start;
}

.text p {
    font-size: 15px;
    color: grey;
    text-align: start;
    line-height: normal;
    padding-left: 40px;
    padding-top: 3px;
}

#firstname, #work, #email, #web {
    background-repeat: no-repeat;
    background-size: 26px 23px;
    background-position-y: 8px;
    min-height: 50px;
    display: flex;
    align-items: center;
}

#firstname {
    background-image: url('/img/Ikonica 1.svg');
}
#work {
    background-image: url('/img/Ikonica 2.svg');
}

#email {
    background-image: url('/img/Ikonica 3.svg');
}

#web {
    background-image: url('/img/Ikonica 4.svg');
}

.text div img {
    width: 50px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #EFEFEF;
  }

  #breadSection {
    margin:0 125px;
  }
  
@media (min-width:1300px) and (max-width:1550px){
     .inner img{
      max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 62%;
        width: 220px;
        height: 280px;
        margin-top: -140px;
        margin-left: -140px;
     }
}

@media (min-width:1000px) and (max-width:1299px){
    .inner img{
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 83%;
        width: 160px;
        height: 280px;
        margin-top: -140px;
        margin-left: -140px;
    }
}


@media only screen and (max-width : 992px) {
    #membersSection {
        margin: 0;
    }

    .company {
        margin-bottom: 20px;
    }

    #breadSection {
        margin: 10px 0px;
        margin-top:0;
      }
      
    
}