.myNav {
   width: 85%;
   padding: 20px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#navUl {
   width:55%;
}

.navLeft {
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.myNav button {
    width:150px;
    height: 30px;
    background-color: #F15B5B;
    color: white;
    border: none;
    font-size: 14px;
}

.myNav button a {
    color:white;text-decoration:none;
}

.member img {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;;
}

#aboutIco {
    padding-right: 10px;
    width: 22px;
}

.aboutUs{
   display:flex;
    margin-right: 17px;
    align-items: end;
    padding-top: 18px;
}

.aboutUs p{
   color:#F15B5B;
    font-weight:600;
    padding-top:5px;
}

.search-container {
    padding: 10px;
    width: 250px;
}

.search-container input {
    height: 27px;
    border: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    width: 130px;
    box-sizing: border-box;
    font-size: 12px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search-container button {
    padding: 2px 10px;
    background: #F15B5B;
    border: none;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    cursor: pointer;
    margin-right: -2px;
}

.search-container i {
    color:white;
}

.pages li a {
    text-decoration: none;
    color: #2D2D2D;
    font-weight: 600;
}

#mySecondNav {
    background: #EFEFEF;
    margin: 0 140px;
}

#mySecondNav button span {
  background: #F15B5B;
}

#navPages {
    font-size: 15px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    width: auto;
}

.bottomNav {
    display: flex; 
    justify-content: space-between;
}

  
  .search-container input:focus {
    width: 70%;
  }

.desctop {
    display: flex;
    justify-content: space-between;
}
.mobile {
    display: none;
}
@media only screen and (max-width : 992px) {
    .myNav button {
        display: none;
    }

    .aboutUs p {
        display: none;
    }

    #mySecondNav {
        margin: 0 ;
    }

    #myNavbar {
        display: flex;
    }

    .myNav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    #navUl {
        width: 100%;
    }

    .navLeft {
        width: 80%;
    }

    .search-container {
        display:none;
    }

    #myNavbarHeader {
        display: flex;
    }

    #aboutIco {
        padding-right: 0;
        width: 15px;
    }

    .navbar-toggle {
         margin-right: 0px !important;
        padding: 9px 38px !important;
    }

    .navbar-nav {
         margin: 7px 0 !important;
    }

    #navPages {
        font-size: 15px;
        width: 100%;
        display: block;
        padding-top: 40px;
    }
    
    .bottomNav {
        flex-direction: column;
    }
    .socialMedia {
        display: flex;
    }

    .aboutUs {
         padding-top: 0px; 
    }

    .desctop {
        display: block;
    }

    .mobile {
        display: block;
    }

    .navbar-toggle {
     padding: 9px 0  !important;
    }
}


.mobile .mobileSearch {
    position: absolute;
    margin: 10px;
    margin-left: 15px;
    top: 0;
    right: 290px;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: #F15B5B;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
}
.mobile .mobileSearch:hover {
    cursor: pointer;
}
.mobile .mobileSearch::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 14px;
    right: 290px;
    bottom: 0;
    left: 20px;
    width: 4px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all 0.5s;
}
.mobile .mobileSearch::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -2px;
    right: 290px;
    bottom: 0;
    left: 6px;
    width: 17px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.5s;
}
.mobile input {
    position: absolute;
    margin: 10px;
    margin-left: 15px;  
    top: 0;
    right: 290px;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 30px;
    padding-left: 30px;
    outline: none;
    border: none;
    background: #F15B5B;
    color: white;
    border-radius: 30px;
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 0.1em;
}
.mobile input:hover {
    cursor: pointer;
}
.mobile input:focus {
    width: 150px;
    opacity: 1;
    cursor: text;
}
.mobile input:focus ~ .mobileSearch {
    right: 160px;
    background: #F15B5B;
    z-index: 6;
}
.mobile input:focus ~ .mobileSearch::before {
    top: 0;
    left: 0;
    width: 15px;
    margin-left: 5px;
}
.mobile input:focus ~ .mobileSearch::after {
    margin-left: 5px;
    top: 0;
    left: 0;
    width: 15px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
}
.mobile input::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
}
